PORT=3000

# Database Configuration (MySQL)
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=pos_inventory_db

# JWT Configuration
JWT_SECRET=rahasia_super_aman_untuk_jwt_token_123
JWT_EXPIRES_IN=24h
